.security-indicator {
  margin-top: 2px;
  display: block;
  content: " ";
  width: 34px;
  height: 8px;
  border-radius: 4px;
}

.low {
  @extend .security-indicator;
  background-color: rgb(136, 134, 134);
}

.easy {
  @extend .security-indicator;
  background-color: red;
}

.medium {
  @extend .security-indicator;
  background-color: rgb(240, 212, 6);
}

.hard {
  @extend .security-indicator;
  background-color: rgb(14, 201, 14);
}
